body {
  background: red;
}

header, section {
  text-align: center;
}

section {
  width: 50%;
  margin: 0 auto;
}

#numberGuess {
  width: 65%;
}

.buttons button {
  width: 32%;
  margin: 15px 5px;
}

#resetBtn {
  width: 70%;
}
